#define IDR_MENU 10000
#define IDM_FILE 10001
#define IDM_FILE_OPEN 10002
#define IDM_FILE_SAVE 10003
#define IDM_LINE1 10004
#define IDM_FILE_EXIT 10005
#define IDM_EDIT 10006
#define IDM_EDIT_UNDO 10007
#define IDM_EDIT_REDO 10008
#define IDM_LINE2 10009
#define IDM_EDIT_CUT 10010
#define IDM_EDIT_COPY 10011
#define IDM_EDIT_PASTE 10012
#define IDM_HELP 10013
#define IDM_HELP_ABOUT 10014
IDR_MENU MENUEX
BEGIN
  POPUP "&File",IDM_FILE
  BEGIN
    MENUITEM "&Open File...",IDM_FILE_OPEN
    MENUITEM "&Save_File...",IDM_FILE_SAVE
    MENUITEM "",IDM_LINE1,0x00000800
    MENUITEM "&Exit_Application",IDM_FILE_EXIT
  END
  POPUP "&Edit",IDM_EDIT
  BEGIN
    MENUITEM "&Undo",IDM_EDIT_UNDO
    MENUITEM "&Redo",IDM_EDIT_REDO
    MENUITEM "",IDM_LINE2,0x00000800
    MENUITEM "Cut&X",IDM_EDIT_CUT
    MENUITEM "&Copy",IDM_EDIT_COPY
    MENUITEM "&Paste",IDM_EDIT_PASTE
  END
  POPUP "&Help",IDM_HELP
  BEGIN
    MENUITEM "&About",IDM_HELP_ABOUT
  END
END
